---
import StateDropdown from "./StateDropdown.astro";
---

<form id="estimate-form" class="form-wrap" action="/thankyou-estimate" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" name="Estimate Form">
    <!-- Honey Pot -->
     <div class="hidden" style="display: none;">
        <label for="bot-field">Don’t fill this out if you're human:</label>
        <input type="text" name="bot-field" id="bot-field" />
     </div>
     <!-- Subject Line -->
     <input type="hidden" name="subject" id="subject" value="">


    <div class="form-group">
        <label for="submission-date">Submission Date:</label>
        <input class="short" type="date" id="submission-date" name="submission-date" readonly />
    </div>
    <h2 class="title-md text-underline margin-top">Your Information</h2>
    <div class="horizontal-group">
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" placeholder="John" id="first-name" required autocomplete="given-name" />
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" name="last-name" placeholder="Doe" id="last-name" required autocomplete="family-name" />
        </div>
    </div>
    <div class="horizontal-group">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="jdoe@email.com" id="email" required autocomplete="email" />
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" name="phone" placeholder="505-555-5555" id="phone" required autocomplete="tel" />
        </div>
    </div>
    <div class="horizontal-group">
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" name="address" placeholder="123 Main St" id="address" required autocomplete="street-address" />
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="city" placeholder="Los Alamos" id="city" required autocomplete="address-level2" />
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <StateDropdown />
        </div>
    </div>
    <h2 class="title-md text-underline margin-top">Project Information</h2>
    <div class="form-group">
        <label for="have-plan">Do you already have a plan?</label>
        <select name="do-they-have-plan" id="have-plan" required>
          <option value="yes">Yes</option>
          <option value="no" selected>No</option>
        </select>
    </div>
    <div class="form-group" id="plan-details-group" style="display: none;">
        <label for="plan-details">Please provide the plan details:</label>
        <input type="text" name="plan-details" id="plan-details" placeholder="Provide details about your plan" />
    </div>
    <div class="form-group">
        <label for="pay-design">Are you willing to pay for design services?</label>
        <select name="will-they-pay-design" id="pay-design" required>
          <option value="yes">Yes</option>
          <option value="no" selected>No</option>
        </select>
    </div>
    <div class="horizontal-group">
        <div class="form-group">
            <label for="have-budget">Do you have a set budget?</label>
            <select name="do-they-have-budget" id="have-budget" required>
              <option value="yes">Yes</option>
              <option value="no" selected>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="budget-amount">Budget Amount</label>
            <div class="input-wrapper">
                <span class="currency-symbol">$</span>
                <input type="number" name="budget-amount" id="budget-amount" placeholder="Enter your budget amount"/>
            </div>
        </div>
    </div>
    <div class="horizontal-group">
        <div class="form-group">
          <label for="timeframe">Is there timeframe for completion?</label>
          <input type="date" class="datedropper-default" data-dd-opt-min-date="2025/01/01" data-dd-opt-format="mm-dd-y" data-dd-opt-max-year="2030" data-dd-opt-expanded-only="true" id="timeframe" name="timeframe" required placeholder="01-01-2025">
        </div>
        <div class="form-group">
            <label for="willing-to-wait">Do you have a set budget?</label>
            <select name="willing-to-wait" id="willing-to-wait" required>
              <option value="yes">Yes</option>
              <option value="no" selected>No</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="looking-to-start">Are you looking to start this project?</label>
        <select name="project-status" id="looking-to-start" required>
            <option value="just-getting-prices">Just getting prices</option>
            <option value="ready-to-start">Ready to start</option>
            <option value="planning-and-budgeting">Planning and budgeting</option>
        </select>
    </div>
    <div class="form-group">
        <label for="additional-info">Can you briefly describe the project?</label>
        <textarea name="additional-info" id="additional-info" rows="5" placeholder="Provide a brief description of your project"></textarea>
    </div>
    <div class="horizontal-group">
        <div class="form-group">
            <label for="previous-client">Have you worked with us before?</label>
            <select name="previous-client" id="previous-client" required>
              <option value="yes">Yes</option>
              <option value="no" selected>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="referral">How did you hear about us?</label>
            <input type="text" name="referral" id="referral" placeholder="How did you hear about us?" />
        </div>
    </div>
    <button type="submit" class="btn-primary btn-form">Submit Estimate</button>
</form>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const havePlanSelect = document.getElementById("have-plan");
  const planDetailsGroup = document.getElementById("plan-details-group");

  // Listen for changes on the "Do you already have a plan?" dropdown
  if (havePlanSelect) {
    havePlanSelect.addEventListener("change", (event) => {
      const target = event.target as HTMLSelectElement;
      if (target && target.value === "yes") {
        // Show the plan details input if "Yes" is selected
        if (planDetailsGroup) {
          planDetailsGroup.style.display = "flex";
        }
      } else {
        // Hide the plan details input if "No" is selected
        if (planDetailsGroup) {
          planDetailsGroup.style.display = "none";
        }
      }
    });
  }

  // Get today's date in the format YYYY-MM-DD
  const today = new Date();
  const formattedDate = today.toISOString().split("T")[0];

  // Set the value of the date input to today's date
  const submissionDateInput = document.getElementById(
    "submission-date"
  ) as HTMLInputElement;
  if (submissionDateInput) {
    submissionDateInput.value = formattedDate;
  }
});

document.addEventListener("DOMContentLoaded", () => {
  const startDateInput = document.getElementById("start-date");

  if (startDateInput) {
    // Get today's date
    const today = new Date();
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, "0"); // Months are 0-based
    const day = String(today.getDate()).padStart(2, "0");

    // Format the date as YYYY/MM/DD
    const formattedDate = `${year}/${month}/${day}`;

    // Set the data-dd-opt-min-date attribute to today's date
    startDateInput.setAttribute("data-dd-opt-min-date", formattedDate);
  }
});
</script>

<style>
    .btn-form {
        max-width: fit-content;
    }
    .hidden {
        display: none;
    }
    .margin-top {
        margin-top: 2rem;
    }
    .form-wrap {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
        margin: 0 auto;
    }
    .horizontal-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2.5rem;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        box-sizing: border-box;
    }
    label {
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: var(--fs-body);
        color: var(--gray-500);
        margin: 0;
    }
    input {
        font-family: 'Rubik', sans-serif;
        font-size: var(--fs-body);
        padding: 0.5rem;
        border: 2px solid var(--gray-300);
        background-color: var(--full-white);
        border-radius: 0.25rem;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
    }
    .short {
        max-width: calc(50% - 2.5rem);
    }

    input:hover,
    input:focus-visible,
    input:focus {
        outline: none;
        border-color: var(--red-500);
        transition: all 0.2s ease-in-out;
    }
    input::placeholder {
        color: var(--gray-400);
    }
    select {
        font-family: 'Rubik', sans-serif;
        font-size: var(--fs-body);
        padding: 0.5rem;
        border: 2px solid var(--gray-300);
        background-color: var(--full-white);
        border-radius: 0.25rem;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        appearance: none;
        cursor: pointer;
        width: 100%;
    }

    select:hover,
    select:focus-visible,
    select:focus {
        outline: none;
        border-color: var(--red-500);
        background-color: var(--full-white);
        transition: all 0.2s ease-in-out;
    }

    select option:checked {
        background-color: #EE3524; 
        color: var(--full-white);
    }

    select {
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1rem;
        padding-right: 2rem;
    }
    .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .currency-symbol {
        position: absolute;
        left: 0.75rem;
        font-size: var(--fs-body);
        color: var(--gray-500);
        pointer-events: none;
    }

    input[type="number"] {
        font-family: 'Rubik', sans-serif;
        font-size: var(--fs-body);
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        border: 2px solid var(--gray-300);
        background-color: var(--full-white);
        border-radius: 0.25rem;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        -moz-appearance: textfield; 
        width: 100%;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"]:hover,
    input[type="number"]:focus-visible,
    input[type="number"]:focus {
        outline: none;
        border-color: var(--red-500);
        transition: all 0.2s ease-in-out;
    }

    textarea {
        font-family: 'Rubik', sans-serif;
        font-size: var(--fs-body);
        padding: 0.5rem;
        border: 2px solid var(--gray-300);
        background-color: var(--full-white);
        border-radius: 0.25rem;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        resize: vertical;
        width: 100%;
        min-height: 10rem;
    }
    textarea:hover,
    textarea:focus-visible,
    textarea:focus {
        outline: none;
        border-color: var(--red-500);
        transition: all 0.2s ease-in-out;
    }

/* Calendar Styles */
    :root {
        --dd-overlay: rgba(0, 0, 0, .75);
        --dd-background: #FFFFFF;
        --dd-text1: #423937;
        --dd-text2: #ffffff;
        --dd-primary: #EE3524;
        --dd-gradient: linear-gradient(45deg, #EE3524 0%, #BE2A1D 100%);
        --dd-radius: .35em;
        --dd-shadow: 0 0 2.5em rgba(0, 0, 0, 0.1);
        --dd-range: #F5867C;
    }

/* Responsive Styles */
    @media (max-width: 768px) {
        .form-wrap {
            width: 100%;
        }
        .horizontal-group {
            flex-direction: column;
            gap: 2rem;
        }
        .short {
            max-width: 100%;
        }
    }
</style>

<script>
    function updateSubject(event) {
      // Get the input elements
      const firstNameElement = document.getElementById("first-name");
      const lastNameElement = document.getElementById("last-name");
      const subjectField = document.getElementById("subject");
  
      // Ensure all elements exist before accessing .value
      if (firstNameElement && lastNameElement && subjectField) {
        const firstName = firstNameElement.value.trim();
        const lastName = lastNameElement.value.trim();
        
        // Set the dynamic subject line
        subjectField.value = `New Estimate Request from ${firstName} ${lastName}`;
      }
  
      // Allow the form to submit
      return true;
    }
  
    // Ensure the function is triggered before form submission
    document.getElementById("contact-form").addEventListener("submit", updateSubject);
  </script>